doctype html
html
  head
    title Triptify - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme.css')
    script(src='/lib/jquery/dist/jquery.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js', type='application/javascript')
    block head
  body
    block content